<div class="media">
    <div class="media-body">
       <h4><%= link_to topic.name, topics_path, method: :show %></h4>
        <p><small>
          <%= topic.description %>
        </small>
        <small>
            <% if user_is_authorized_for_topics? %>
                <%= link_to "Delete", @topic, method: :delete, class: 'xs-btn btn-danger', data: {confirm: "Are you sure you want to delete this topic?"} %>
            <% end %>
        </small>
      </p>
    </div>
</div>