<h1> Sign Up Confirmation </h1>

<div class="row">
    <div class="col-md-8">
        <h4>Please confirm. Are these values correct?</h4>
        <div>
            <p>Email: <%= @user.email %> </p>  ...SET UP FOR THIS
            <p>Name: <%=@user.name %> </p>
        </div>
        <div class="form-group">
            <%= f.confirm "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
            <%= f.confirm "No", class: 'btn btn-secondary' %>
            
        </div>
    </div>
</div>

