h1{
    color: purple;
}

.social-btn {
    background-color: orchid;
    position: relative;
    left: 45%;
    padding: 20px;
    border: 1px solid darkcyan;
    font-family: 'Arial Black', Arial, sans-serif;
    text-align: center;
    color: linen;
    font-size: 18px;
    
}

